
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Viewbag.Title</title>
</head>
<body>
    <div>
        <h2>Hello from the detail view</h2>
    </div>
</body>
</html>


